/* Reset margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make html and body take full height */
html, body, #root {
  height: 100%;
  width: 100%;
}

/* App component should also take full height */
#root > div {
  height: 100%;
}

/* Map container takes full viewport */
.map {
  width: 100%;
  height: 100%;
}